    html {
        height: 100%;
        background: #e50035;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    body {
        color: #ffffff;
        text-align: center;
        font-family: "SF Pro Rounded", serif;
        font-size: 35px;
        margin: auto
    }
    
    #content {
        margin-top: 45%;
    }

    #subtitle {
        margin-top: 20px;
    }
    
    img {
        margin-top: 15px;
        margin-left: 15px;
    }

    .title {
        font-size: 100px;
        margin-top: -10px; 
    }